
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Chivo', sans-serif !important;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rounded-card {
  border-radius: 30px !important;
  border-color: "red";
  border-width: 10;
}

.rounded-button {
  border-radius: 20px !important;
}

.particles {
  position:absolute !important;
  left: 0;
}

.btn-flat-primary {
  background-color: #B98E37!important;
  color: white !important;
}

.btn-flat-primary:hover {
  background-color: #B98E37 !important;
  border: 3px solid #fff !important;
}

.btn-flat-outline {
  border: 3px solid #B98E37 !important;
  color: white !important;
}

.btn-flat-outline:hover {
  background-color: #B98E37 !important;
}

.btn-flat-outline-dark {
  border: 3px solid #B98E37 !important;
  color: #B98E37 !important;
}

.btn-flat-outline-dark:hover {
  background-color: #B98E37 !important;
  color: white !important;
}

.feature-card {
  border: 3px solid #C6A148 !important;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #C6A148 !important;
  color: #fff;
  line-height: 150%;
}
/* .navbar {
  opacity: 0.9;
} */

.nav-link {
  color: #fff !important;
  border-radius: 30px;
  padding: 10px  !important;
  margin-right: 5px;
  text-align: center;
  
 
}


.nav-link:hover {
  background-color:#C6A148;
  
}

.navbar-toggler-icon {
  border-color: #B98E37 !important;
 
}


.partners {
  background-color: rgba(12, 6, 17, 0.6);
  color: #fff;
}